<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  
    <connectionStrings>
        <add name="avniConnectionString" connectionString="Data Source=10.6.1.50;Initial Catalog=avni;User ID=sa;Password=bhel@1234"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>
